@model IEnumerable<WebContas.Models.Conta>

<table class="table table-striped">
    <thead class="bg-dark text-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td style="text-align:end">
                    <button type="button" class="btn btn-secondary mb-2">Editar</button>

                    <button type="button" class="btn btn-danger mb-2">Excluir</button>
                </td>
            </tr>
        }
    </tbody>
</table>